@model WebApplication1.Models.TRANGTIN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="~/ckeditor/ckeditor.js"></script>
<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>TRANGTIN</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaTT, htmlAttributes: new { @class = "control-label col-md-2", })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaTT, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.MaTT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenTrang, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenTrang, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <textarea name="NoiDung" id="noidung">@ViewBag.NoiDung</textarea>
            <script>
                    CKEDITOR.replace("noidung", {
                        customConfig: '/ckeditor/config.js',
                        extraAllowedContent: 'span'
                    });
            </script>

        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" /> |
                <button type="button" onclick="window.location.href='@Url.Action("Index", "TrangTin")'" class="btn btn-secondary">Back to List</button>
            </div>
        </div>
    </div>
}

