@model WebApplication1.Models.PHONG

@{
    ViewBag.Title = "Chitietphong";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Chitietphong</h2>

<div>
    <h4>PHONG</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaPH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoPH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoPH)
        </dd>
        <dt>
            Mã Khách Hàng
        </dt>
        <dd>
            @ViewBag.MaKH
        </dd>

        <dt>
            Tên Khách Hàng
        </dt>
        <dd>
            @ViewBag.TenKH
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Anh)
        </dt>

        <dd>
            <img src="~/Images/@Model.Anh" alt=" @Model.SoPH">
        </dd>

        <dt>
            Mô tả:
        </dt>
        <dd>
            @Html.Raw(@Model.Mota.ToString().Replace("\n",
           "</p><p>&nbsp&nbsp&nbsp&nbsp&nbsp"))
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckIn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckIn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CheckOut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CheckOut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienTich)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienTich)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiThat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiThat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { MaPH = Model.MaPH }) |
    @Html.ActionLink("Back to List", "DanhSachPhong")|
    @Html.ActionLink("Trả phòng","TraPhong",new { MaPH = Model.MaPH })

</p>
